{% extends 'branch_base.html' %}
<!DOCTYPE html>
<html lang="en" >
    {% load static %}
<head>
    <title>{% block title %} Bhayander-Amar Jyoti Group of school {% endblock %}</title>
</head>

<body>
        {% block course %} 
		<li><a href="#">course<i class="fa fa-angle-down"></i></a> 
			<ul class="dropdown">
                <li><a href="{% url 'bhayander_course_kinderGarten' %}">Kinder Garten</a></li>
				<li><a href="{% url 'bhayander_course_primary' %}">primary</a></li>
				<li><a href="{% url 'bhayander_course_secondary' %}">secondary</a></li>
				<li><a href="{% url 'bhayander_course_college' %}">junior college</a></li>
			</ul>
		</li>
		 
		{% endblock %}


{% block body %}
<!-- Team -->

    <div class="container">
        <div class="row">
            <div class="col-12 wow zoomIn">
                <div class="section-title">
                    <h2>Amar jyoti vidya mandir high <span>school and jr college</span></h2>
                </div>
            </div>
        </div>
        <h6 align='right'><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; U-Dise-27210700616</p></h6><br>
    </div>
    <!-- Slider Area -->
    <section class="home-slider">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider overlay" style="background-image:url('{% static 'images/branch/bhayander/college_image1.jpeg' %}')">
                
            
            </div>
            <!--/ End Single Slider -->
            <!-- Single Slider -->
            <div class="single-slider overlay" style="background-image:url('{% static 'images/branch/bhayander/college_image2.jpeg' %}')">
               
            </div>
            <!--/ End Single Slider -->
            <!-- Single Slider -->
            <div class="single-slider overlay" style="background-image:url('{% static 'images/branch/bhayander/college_image3.jpeg' %}')">
                
            </div>
            <!--/ End Single Slider -->
        </div>
    </section>
    <!--/ End Slider Area -->


    <!-- Events -->
		<section class="events section">
			<div class="container">
				<div class="row">
					<div class="col-12 wow zoomIn">
						<div class="section-title">
							<h2>  <span>Activities</span></h2>
						 
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="event-slider">
							<!-- Single Event -->
							{% if obj %}
                            {% for i in obj %}
                            
							<div class="single-event">
									<img src="{{i.image}}" alt="#">
								<div class="event-content">
									<div class="meta"> 
										<span><i class="fa fa-calendar"></i>{{ i.date }}</span>
										<span><i class="fa fa-clock-o"></i>{{ i.time }}</span>
									</div>
									<h4><a href="event-single.html">{{ i.name }}</a></h4>
									<p>{{ i.discription }}</p>
									
								</div>
							</div>
                            {% endfor %}
                            {% endif %}
							<!--/ End Single Event -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Events -->

   <!-- Management -->
		<section class="team section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 wow zoomIn">
                            <div class="section-title">
                                <h2>Our <span> Staff</span></h2>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            {% if teachers %}
                            {% for i in teachers %}
                        <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-delay="0.4s">
                            <!-- Single Team -->
                            <div class="single-team">
                                <img src="{{i.image}}" alt="#">
                                <div class="team-hover">
                                    <h4>{{ i.name }}<span>{{ i.designation }}</span></h4>
                                    <p>{{ i.discription }}</p>
                                    
                                </div>
                            </div>
                            <!--/ End Single Team -->
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
            <!--/ End management -->  
        {% endblock %}
    </body>
</html>