{% load static %}
<footer>
                     <!-- Footer -->
                     <footer class="footer overlay section wow fadeIn">
                            <!-- Footer Top -->
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-12">
                                            <!-- About -->
                                            <div class="single-widget about">
                                                <div class="logo"><a href="#"><h2>Amar Jyoti <span> Group Of </span> school</h2></a></div>
                                                <p>We peovide Education Solution</p>
                                                <ul class="list">
                                                    <li><i class="fa fa-phone"></i>Phone :&nbsp; 022-28162976 / 28165084</li>
                                                    <li><i class="fa fa-envelope"></i>Email: <a href="mailto:info@youremail.com"> Amarjyotividya@gmail.com</a></li>
                                                    <li><p>Address: <br>
                                                        184-10(C), God - Dev Navghar Cross Rd,<br> 
                                                        Sai Baba Nagar, Bhayandar East,<br>
                                                        Mira Bhayandar, Maharashtra.<br> 
                                                        Pin Code: 401105</p></li>
                                                </ul>
                                            </div>
                                            <!--/ End About -->
                                        </div>
                                        
                                    
                                    </div>
                                </div>
                            </div>
                            <!--/ End Footer Top -->
                            <!-- Footer Bottom -->
                            <div class="footer-bottom">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bottom-head">
                                                <div class="row">
                                                    <div class="col-12">
                                        
                                                        <!--Break line -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Footer Bottom -->
                        </footer>
                        <!--/ End Footer -->
                        
</footer>