{% extends 'base.html' %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
	{% load static %}
	 

    <head>
		
			<!-- css included in page -->
		
    </head>
    
    <body>
        {% block body %}
            <!-- Bhyander -->
            <div class="container">
                    <div class="row"><br><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.327760947583!2d72.85872237913145!3d19.311578687017064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0284ec3aa0d%3A0x6865ee9f090eb9dc!2sAmar+Jyoti+Vidya+Mandir+High+School!5e0!3m2!1sen!2sin!4v1561896410597!5m2!1sen!2sin" width="750" height="400" frameborder="0" style="border:0;padding: 15px;" allowfullscreen>
                </iframe>
                <div style="border:0;padding: 15px;">
                        <h2><span>Address - Bhayander</span></h2><br>
                        
                        <p><h6>Amar Jyoti Group of Schools and Junior College</h6> <br>
                          184-10(C), God - Dev Navghar Cross Rd, Sai Baba Nagar,<br> 
                          Bhayandar East, Mira Bhayandar, <br>
                          Maharashtra. Pin Code: 401105</p><br>
                        
                        <h3><span>Contact </span></h3><br>
                        <p><b>Landline: </b>022-28162976 / 28165084</p>
                </div>
            </div>
            </div>

            <!-- Nalasopara -->
            <div class="container">
                    <div class="row"><br><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.9496463351084!2d72.80661537913319!3d19.41458148695871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9599f6d3fab%3A0xdb54392dcc31ba80!2sBBC+English+High+School!5e0!3m2!1sen!2sin!4v1561896259122!5m2!1sen!2sin" width="750" height="400" frameborder="0" style="border:0;padding: 15px;" allowfullscreen>
                </iframe>
                <div style="border:0;padding: 15px;">
                        <h2><span>Address - Nalasopara</span></h2><br>
                        
                        <p><h6>B.B.C English High School (Primary / Secondary)</h6><br>
                            Commercial Office No. 1,2,3, 1st Flr.,
                            <br>
                            Shanti Nagar, 100 Feet, Nalasopara - Virar Link Road,<br>
                             Nr,Shree Prastha, Nalasopara (W), Dist - Palghar
                            <br></p><br>
                        
                        <h3><span>Contact </span></h3><br>
                        <p><b>Phone:  </b>+91 7719038225</p>
                </div>
            </div>
            </div>

            <!-- Virar -->
            <div class="container">
                    <div class="row"><br><br>
                <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2104.0843368267783!2d72.80544034845927!3d19.45381719012892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9871af261bb%3A0x701318f5542fd7c5!2sAdarsh+Public+High+School!5e0!3m2!1sen!2sin!4v1561896115410!5m2!1sen!2sin" width="750" height="400" frameborder="0" style="border:0;padding: 15px;" allowfullscreen>
                </iframe>
                <div style="border:0;padding: 15px;">
                        <h2><span>Address - Virar</span></h2><br>
                        
                        <p><h6>Adarsh Public High School  (Primary / Secondary)</h6><br>
                                M.B. Kunj building, M.B. Estate, Virar (W).<br>
                                Dist - Palghar  Pin code: 401303<br>
                        </p><br>
                        
                        <h3><span>Contact </span></h3><br>
                        <p><b>Phone:  </b>+91 77410 26979</p>
                </div>
            </div>
            </div>
           
           
           {% endblock %}

    </body>

</html>