{% extends 'admin_base.html' %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
    
		{% load static %}
	<head>
		
		
    </head>
    <body>
        {% block body %}      
        <!--<h2>Our Awesome <span>Achivers</span></h2>-->
        <div class="container">
                <div class="row">
                    <div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Welcome <span>Bhayander Dashboard</span></h2>
                             
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
                <div class="row">
					<div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Our Awesome <span>Achivers</span></h2>
                             
                        </div>
					</div>
				</div>
                <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">name</th>
                                <th scope="col">Achive</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% if achive %}
                                    {% for i in achive %}
                                    <tr>
                                    <form class="" action="{% url 'delete_bhayander' %}" method="post">
                                     {% csrf_token %}
                                     
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.achive }}</td>
                                    <td>{{ i.discription }}</td>
                                    <td>{{ i.image }}</td>
                                    <input type="hidden" name="bhayander_index_achivement" value="{{i.id}}">
                                    <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                                </form>
                            </tr>
                       
                            {% endfor %}
                            {% endif %}	
                            <tr><td></td><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_bhayander' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

          <!--<h2>Our Awesome <span>events</span></h2>-->

          <div class="container">
                <div class="row">
					<div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Our   <span>Events</span></h2>
                             
                        </div>
					</div>
				</div>
                <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">name</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% if events %}
                                    {% for i in events %}
                                    <tr>
                                    <form class="" action="{% url 'delete_bhayander' %}" method="post">
                                     {% csrf_token %}
                                     
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.discription }}</td>
                                    <td>{{ i.date }}</td>
                                    <td>{{ i.time }}</td>
                                    <td>{{ i.image }}</td>
                                    <input type="hidden" name="bhayander_index_event" value="{{i.id}}">
                                    <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                                </form>
                            </tr>
                       
                            {% endfor %}
                            {% endif %}	
                            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_bhayander' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                      
          <!--<h2>Our Awesome <span>facility</span></h2>-->

          <div class="container">
                <div class="row">
					<div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Facility <span>Provided</span></h2>
                             
                        </div>
					</div>
				</div>
                <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">name</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% if facilities %}
                                    {% for i in facilities %}
                                    <tr>
                                    <form class="" action="{% url 'delete_bhayander' %}" method="post">
                                     {% csrf_token %}
                                     
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.discription }}</td>
                                    <td>{{ i.image }}</td>
                                    <input type="hidden" name="bhayander_index_facility" value="{{i.id}}">
                                    <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                                </form>
                            </tr>
                       
                            {% endfor %}
                            {% endif %}	
                            <tr><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_bhayander' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--<h2>Our Awesome <span>Management teacher</span></h2>-->

          <div class="container">
                <div class="row">
					<div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Bhayander <span>Management</span></h2>
                             
                        </div>
					</div>
				</div>
                <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% if managements %}
                                    {% for i in managements %}
                                    <tr>
                                    <form class="" action="{% url 'delete_bhayander' %}" method="post">
                                     {% csrf_token %}
                                     
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.designation }}</td>
                                    <td>{{ i.discription }}</td>
                                    <td>{{ i.image }}</td>
                                    <input type="hidden" name="bhayander_index_management" value="{{i.id}}">
                                    <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                                </form>
                            </tr>
                       
                            {% endfor %}
                            {% endif %}	
                            <tr><td></td><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_bhayander' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endblock %}
    </body>
</html>

