{% extends 'admin_base.html' %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
    
		{% load static %}
	<head>
		
		
    </head>
    <body>
        {% block body %}
            <div class="container">
                    <div class="row">
                        <div class="col-12 wow zoomIn">
                            <div class="section-title">
                                <h2>Bhayander <span>Branch</span></h2>
                                 
                            </div>
                        </div>
                    </div>
            </div>

            

            <!--<h2>Our Awesome <span>Activity Hindi</span></h2>-->

          <div class="container">
            <div class="row">
                <div class="col-12 wow zoomIn">
                    <div class="section-title">
                        <h2> Virar<span> Secondary Activity (Hindi) </span></h2>
                         
                    </div>
                </div>
            </div>
            <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">name</th>
                            <th scope="col">Discription</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Image</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% if obj1 %}
                                {% for i in obj1 %}
                                <tr>
                                <form class="" action="{% url 'delete_virar' %}" method="post">
                                 {% csrf_token %}
                                 
                                <td>{{ i.id }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.discription }}</td>
                                <td>{{ i.date }}</td>
                                <td>{{ i.time }}</td>
                                <td>{{ i.image }}</td>
                                <input type="hidden" name="virar_secondary_hindi" value="{{i.id}}">
                                <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                            </form>
                        </tr>
                   
                        {% endfor %}
                        {% endif %}	
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_virar' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<h2>Our Awesome <span>Management teacher</span></h2>-->

          <div class="container">
                <div class="row">
					<div class="col-12 wow zoomIn">
                        <div class="section-title">
                            <h2>Virar <span>Secondary Staff  </span></h2>
                             
                        </div>
					</div>
				</div>
                <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Discription</th>
                                <th scope="col">Image</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% if teachers %}
                                    {% for i in teachers %}
                                    <tr>
                                    <form class="" action="{% url 'delete_virar' %}" method="post">
                                     {% csrf_token %}
                                     
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.designation }}</td>
                                    <td>{{ i.discription }}</td>
                                    <td>{{ i.image }}</td>
                                    <input type="hidden" name="virar_secondary_teacher" value="{{i.id}}">
                                    <td><a href=""><button class='btn btn-danger' onClick="return confirm('Are you sure you want to delete?')">Delete</button></a></td>
                                </form>
                            </tr>
                       
                            {% endfor %}
                            {% endif %}	
                            <tr><td></td><td></td><td></td><td></td><td></td><td><a href="{% url 'upload_admin_virar' %}"><button class='btn btn-default'>Add New Row</button></a></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            {% endblock %}
        </body>
    </html>
    